<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!--首页-->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.zhengzhou">
    <ion-nav-view name="zhengzhou"></ion-nav-view>
  </ion-tab>
  <!--资讯-->
  <ion-tab title="资讯" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.zixun">
    <ion-nav-view name="zixun"></ion-nav-view>
  </ion-tab>
  <!--视频-->
  <ion-tab title="视频" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" ui-sref="tab.shipin">
    <ion-nav-view name="shipin"></ion-nav-view>
  </ion-tab>
  <!--精选-->
  <ion-tab title="精选" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ui-sref="tab.jingxuan">
    <ion-nav-view name="jingxuan"></ion-nav-view>
  </ion-tab>
</ion-tabs>

